@import "../styles/custom-properties.css";

.root {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  padding: 1rem;
}

.nav {
  padding: 1rem;
}

.nav a {
  display: inline-block;
  color: inherit;
  text-decoration: inherit;
  color: inherit;
}

.items {
  display: flex;
  justify-content: center;
  padding: 0;
}

.item {
  display: block;

  @nest & + .item:before {
    content: '· ';
    margin-left: 5px;
  }
}

.text {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-gray);

  @nest & p {
    margin: 0;
  }
}
